.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 92px;
  background-color: #1eb7ee;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
  padding-left: 120px;
  z-index: 1000;

  &__logo {
    display: block;
    width: 181px;
    height: 67.5px;

    & > img {
      width: 181px;
    }
  }

  &__links {
    display: flex;
    list-style: none;
  }

  &__link {
    & a {
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      padding: 0 35px;
      
      &:hover {
        filter: opacity(0.8);
      }
    }

    &:last-child > a {
      font-weight: 700;
      font-size: 22px;
    }
  }
}
