.table {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  list-style: none;
  margin: 40px 0 0 0;

  &__null {
    font-size: 30px;
    margin: auto;
  }

  &__title {
    display: flex;
    font-weight: 600;
    color: #95989a;
  }

  &__row {
    display: flex;
    width: 100%;
    height: 72px;

    &:nth-child(even) {
      background-color: rgba(0, 102, 135, 0.1);
    }

    &:hover {
      box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    }
  }

  &__cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding: 16px 10px;

    &:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
    }

    &:nth-child(2) {
      width: 11%;
    }

    &:nth-child(3) {
      width: 13%;
    }

    &:nth-child(4) {
      width: 18%;
    }

    &:nth-child(5) {
      width: 19%;
      font-size: 16px;
    }

    &:nth-child(6) {
      width: 29%;
    }
  }

  &__terminal-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #63c745;
    border-radius: 50%;
    font-size: 22px;
    color: #63c745;
    font-weight: 700;
  }

  &__logo {
    width: 64px;
    margin-right: 5px;
  }
}
